name: CodSpeed

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  codspeed:
    name: Run benchmarks
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash -l {0}
    env:
      GIT_VERSION_INFO: "0.0.0.dev0"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup conda environment
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: 2.5.0-1
          environment-file: .buildconfig/ci-linux.yml
          cache-environment: true
          create-args: python=3.11

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ubuntu-24.04

      - name: Build scipp
        run: |
          cmake --preset ci-linux -DCONDA_FORGE_BUILD=ON
          cmake --build --preset build

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[test]

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: pytest bench/ --codspeed
